@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-body-regular {
    font-size: theme(fontSize.base);
    font-family: theme(fontFamily.outfit);
    font-weight: theme(fontWeight.normal);
    color: theme(colors.wenge_brown);
    line-height: theme(lineHeight.normal);
  }

  .text-heading-m {
    font-size: theme(fontSize.xl);
    font-family: theme(fontFamily.young_serif);
    font-weight: theme(fontWeight.normal);
    color: theme(colors.dark_raspberry);
    line-height: theme(lineHeight.none);
  }
}
